.box_about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 3px solid #888;
    padding: 1rem;
    text-align: center;


    img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;

        border: 3px solid #888;
        margin-bottom: 1rem;
    }

    p:nth-child(4) {
        margin-bottom: 2rem;
    }
}

.box_about-socialmidia {
    position: absolute;
    display: flex;
    gap: 2rem;
    bottom: 1rem;

    a:hover {
        color: #f1f1f1;
    }
}