* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #f1f1f1;
}

a {
    text-decoration: none;
    animation: ease-in-out;

    &:hover {
        color: #f1f1f1;
    }
}

.box_container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
}

@media (max-width: 70rem) {
    .box_container {
        height: 100%;
        position: static;
        grid-template-columns: 1fr;
    }
}