.box_container-posts {
    overflow-y: scroll;
}

.box_posts {
    width: 100%;
    max-width: 85%;
    margin: auto;
    margin-top: 2rem;

    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    animation: ease-in-out;

    a {
        color: #f1f1f1;

        &:hover {
            color: #551a8b;
            border-color: #551a8b;
            scale: 1.01;
        }
    }

    h1 {
        margin-bottom: 5px;
    }

    p:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0.8rem;
    }



}