.box_posts-container {
    width: 100%;
    max-width: 95%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    h1:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 5rem;
    }
}

.box_container-posts {
    overflow-y: scroll;
}

.box_posts {
    border: 3px solid #878787;
    background-color: #333;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    animation: ease-in-out;
    // margin-left: -0.5rem;

    a {
        color: #f1f1f1;
    }

    h1 {
        margin-bottom: 5px;
    }

    p:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 0.8rem;
    }

    &:hover {
        scale: 1.01;
        border-color: #8349ba;

        a {
            color: #8349ba;
        }
    }
}

@media (max-width: 70rem) {
    .box_container-posts {
        margin-top: 10rem;

        h1:nth-child(1) {
            margin-left: 3rem;
        }
    }

    .box_posts {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .box_posts-container{
        margin-top: 4rem;
    }
}